html {
    scroll-behavior: smooth;
  }
body{
    padding: 60px 30px 0 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav{
    background-color: rgba(52, 58, 64,0.7);
}
header div img{
margin-right: 50px;
}
header div h1{
    margin-top: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    color:white;
}
.main-conent{
display:grid;
grid-template-areas: 
"secList secImg"
"secList secP"
;
}
.sec-list{
grid-area: secList;
margin: 30px 10px;
}
.sec-img{
margin: 30px 10px;
grid-area: secImg;
text-align: center;

}
.sec-img img{
margin: 0 10px;
outline:2px solid lightcoral;
/* border: 10px solid; */
}
.sec-p{
margin: 30px 10px;
grid-area:secP;
font-weight: bold;
font-size: 20px;
}
footer{
    margin-top: 50px;
    /* background-color: rgba(52, 58, 64,0.7); 
    position: sticky;
    bottom: 0; */
}
ol li{
font-size:10px;
font-weight:bolder;
background-color: black;
}